<div class="">
    <input type="text" name="userToSearch" placeholder="Name" [(ngModel)]="userToSearch" (input)="searchUser()"/>
    <select class="" name="select-course" [(ngModel)]="courseSelected" (change)="courseFilter()">
        <option value="All courses">All courses</option>
        <option *ngFor="let course of courses" value="{{course.name}}">{{course.name}}</option>
    </select>
</div>

<div class="users" *ngFor="let user of users; index as i" routerLink="{{user.id}}">
    <p>Name: {{user.name}}</p>
    <p>Courses:</p>
    <ul>
        <li *ngFor="let nameOfCourse of nameOfCourses[i]">{{nameOfCourse}}</li>
    </ul>
</div>