<div class="header">
    <div class="search"> 
        <input type="text" name="userToSearch" placeholder="Busca los alumnos..." [(ngModel)]="userToSearch" (input)="searchUser()"/>
        <select class="" name="select-course" [(ngModel)]="courseSelected" (change)="courseFilter()">
            <option value="All courses">All courses</option>
            <option *ngFor="let course of courses" value="{{course.name}}">{{course.name}}</option>
        </select>
    </div>
</div>

<!-- <div class="users" *ngFor="let user of users; index as i" routerLink="{{user.id}}">
    <p>Name: {{user.name}}</p>
    <p>Courses:</p>
    <ul>
        <li *ngFor="let nameOfCourse of nameOfCourses[i]">{{nameOfCourse}}</li>
    </ul>
</div> -->

<div class="users">
    <div 
    *ngFor="let user of users; index as i" 
    class="user-users">

        <div  class="user-header">
            <div class="user-header-picture centered">
                <div class="circulo"></div>
            </div>

            <div class="user-header-text">
                <span id="bold"> {{user.name}} </span>
                <span> {{user.email}} </span>
                <span> {{user.telefono}} </span>
            </div>
        </div>

        <div class="users-footer">
            <!-- <button routerLink="{{user.id}}" id="editIcon" > </button>  -->
            <button routerLink="{{user.id}}" id="checkIcon"> </button>  <!-- (click)=(contacted(user)) -->
           <button  id="deleteIcon" > </button>  <!--  (click)="deletePerson(i) -->
        </div>

</div>
   
    
</div>
