<h1>{{user?.name}}  {{user?.surname}}</h1>
<p>{{user?.email}}</p>
<p>{{user?.phone}}</p>
<h2>Cursos:</h2>
<ul *ngFor="let course of courses" >
  <li>{{course.name}}</li>
</ul>
<h2>Repositorios:</h2>
<section id="repositories"> 
  
  <article class="repository"  *ngFor="let repo of repos">
    <a href={{repo.html_url}}>
        <h3 class="repository-name">{{repo.name}}</h3>
        <h4 class="repository-heading">Descripción:</h4>
        <p class=repository-description>{{repo.description}}</p> 
        <h4 class="repository-heading">Lenguajes:</h4>
        <ul class="languages-list" >
          <li class="language" *ngFor="let language of repo.languages"> 
            <img src="../../../assets/languages/{{language}}.png" alt="{{language}}"> 
           </li>
        </ul>
      
    </a> 
  </article>
  
</section> 

