h1{
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color: #3f51b5;
}
.mat-card{
  width: 80%;
  margin: 40px auto;
}


.mat-card-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  
}

.mat-card-title{
  font-size: 32px;
  color: #3f51b5;
}

.mat-card-avatar{
  order: 1;
  height: 200px;
  width: 200px;
}
.profile-info{
  order: 2;
  margin-left: 64px;


  .profile-info-field{
    display: flex;
    align-items: center;
    font-size: 24px;

  }

}


.courses{
  font-size: 32px;
  margin-top: 32px;
  order: 3;
  width: 100%;
 

  mat-chip {
    max-width: 100%;
   
  }
}

@media screen and (max-width: 700px) {
  .mat-card{
    width: auto;
  }
  .mat-card-content {
    flex-direction: column;
  }
  .profile-info{
    margin-left: 0px;
    margin-top: 32px;
  }
}





.repository {


  a {
    text-decoration: none;
    color: black;
  
  }
  
  
  .repository-name{
    margin-bottom: 4px;
    color: #3f51b5;
    font-weight: bolder;
    font-size: 24px;
  }

  .repository-heading{
    margin: 0px;
    font-weight: bold;
  }
 
  

  .languages-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:  0;
    padding: 0;
    
  }
  
  .language{
    margin-top: 16px;
    margin-right: 8px;
    img{
      width: 64px;
      height: 64px;
      object-fit: cover;
    
    }
  }
  .language-text{
    border: 4px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    min-width: 64px;
    box-sizing: border-box;
    font-size: 24px;
    padding-left: 4px;
    padding-right: 4px;
  
    font-weight: bold;
  }

  

 


}