
h1, h2 {
  font-weight: bold;;
}



.repository {

  margin: 70px;
  padding: 20PX;
  border: 2px solid #5a585838;
  border-radius: 25px;

  a {
    text-decoration: none;
    color: black;
  
  }
  
  
  .repository-name{
    margin-bottom: 4px;
    color: blue;
    font-weight: bolder;
    font-size: 24px;
  }

  .repository-heading{
    margin: 0px;
    font-weight: bold;
  }
 
  

  .languages-list{
    list-style: none;
    margin:  0;
    padding: 0;
    
  }
  
  .language{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: bottom;
    height: 64px;
    min-width: 64px;
    width: fit-content;
    margin-right: 8px;
  }
  .language-text{
    border: 3px black solid;
    height: 64px;
    min-width: 64px;
    width: fit-content;
    line-height: 64px;
    text-align: center;
    box-sizing: border-box;
    font-size: 24px;
    padding: 4px;
    font-weight: bold;
  }

  

 


}

