.container{
   
    width: 100%;
    height: 100%;
    padding: 1px;
}

.nav-bar{
    
    border-right: 2px solid rgba(0, 0, 0, 0.12);
    height: 100%;
    width: 25%;
    position: fixed;
}




.content{
    margin-left: 30%;

}