<div class="nav-container">

    <div class="top">
        <span>EOI-APP</span>
        <button id="headline"></button>

    </div>


    <div class="component-buttons">
        <h1 class="enlaces-title">Enlaces</h1>

        <div class="changePage" routerLink="">
            <img src="../../../assets/home-black-24dp.svg" alt="">
            <span>Home</span>
        </div>
        
        <div class="changePage" routerLink="/users">
            <img src="../../../assets/person-black-24dp.svg" alt="">
            <span>Users</span>
        </div>

        <div class="changePage" >
            <img src="../../../assets/person_add-black-24dp.svg" alt="">
            <span>Register</span>
        </div>
        
       

    </div>
    
</div>

