<div class="nav-container">

    <div class="top">
        <span>EOI-APP</span>

    </div>


    <div class="component-buttons">
        <h1 class="enlaces-title">Enlaces</h1>

        <div class="changePage" routerLink="">
            <img src="../../../assets/home-black-24dp.svg" alt="">
            <span>Inicio</span>
        </div>
        
        <div class="changePage" routerLink="/users">
            <img src="../../../assets/person-black-24dp.svg" alt="">
            <span>Usuarios</span>
        </div>

        <div class="changePage" routerLink="/login">
            <img src="../../../assets/person-black-24dp.svg" alt="">
            <span>Log In</span>
        </div>

        
       

    </div>
    
</div>

