<mat-toolbar color="primary">
      <img class="logo" src="../../../assets/EOI-APP-LOGO.jpg" alt="eoi logo">
      <span class="spacer"></span>
      <button mat-icon-button  [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
</mat-toolbar>


<mat-menu #menu="matMenu">
    <button mat-menu-item  routerLink="">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </button>
      <button mat-menu-item  routerLink="/users">
        <mat-icon>group</mat-icon>
        <span>Alumnos</span>
      </button>
      <button mat-menu-item  routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Log In</span>
      </button>
</mat-menu>

