<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input type="text" 
    placeholder="Name" 
    [(ngModel)]="newUser.name"
    (keyup)="validationName()">
    <br><br>
    <span *ngIf="errorNameBoolean">{{errorName}}</span>
    <br><br>

    <input type="text"
    placeholder="Surname" 
    [(ngModel)]="newUser.surname"
    (keyup)="validationSurname()">
    <br><br>
    <span *ngIf="errorSurnameBoolean">{{errorSurname}}</span>
    <br><br>

    <input type="email"
    placeholder="Email" 
    [(ngModel)]="newUser.email"
    (keyup)="validationEmail()">
    <br><br>
    <span *ngIf="errorEmailBoolean">{{errorEmail}}</span>
    <br><br>


    <button (click)="addNewUser()">Add User</button>
</body>

</html>