
<div class="home-container">
    <div class="top">
        <span>EOI, entre las 10 Universidades y Escuelas de Negocio iberoamericanas más innovadoras</span>
    </div>

    <div class="img-container">
        <img src="../../../assets/eoi.jpg" alt="">
    </div>
    
    <div class="courses-container">

    <div *ngFor="let course of courses" > 

        <mat-card class="course-card">
            <mat-card-header>
            <mat-card-title>{{course.name}}</mat-card-title>
            <mat-card-subtitle>{{course.studyField}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{course.image}}" alt="Imagen del curso">
            <mat-card-content>
            <p>
                {{course.description}} 
            </p>
            </mat-card-content>
        </mat-card>

    </div>
        
          
    </div>

</div>


