.errors {
    font-size: 14px;
    color: red;
}

.inputs {
    margin: 10px;
}

.checkboxes {
    margin: 10px;
}
  
.error {
    border:1px solid red;
    color: red;
}

#editButton {
    margin: 10px;
}

p {
    margin: 0px;
}