<form *ngIf="isEdit==true">
    <div class="inputs">
        <p>Nombre</p>
        <input type="text" name="newName" placeholder={{user.name}} (keyup.enter)="updateUser()" (focus)="nameOnFocus()"
            (blur)="validateName()" [(ngModel)]="newName" [class.error]="errorInNewName==true" />
        <p class="errors" *ngIf="errorInNewName==true">{{ nameErrorMesagge }}</p>
    </div>

    <div class="inputs">
        <p>Apellidos</p>
        <input type="text" name="newSurname" placeholder={{user.surname}} (keyup.enter)="updateUser()"
            (focus)="nameOnFocus()" (blur)="validateSurname()" [(ngModel)]="newSurname"
            [class.error]="errorInNewSurname==true" />
        <p class="errors" *ngIf="errorInNewSurname==true">{{ surnameErrorMesagge }}</p>
    </div>

    <div class="inputs">
        <p>Correo electrónico</p>
        <input type="email" name="newEmail" placeholder={{user.email}} (keyup.enter)="updateUser()"
            (focus)="emailOnFocus()" (blur)="validateEmail()" [(ngModel)]="newEmail"
            [class.error]="errorInNewEmail==true" />
        <p class="errors" *ngIf="errorInNewEmail==true">{{ emailErrorMesagge }}</p>
    </div>

    <div class="inputs">
        <p>Teléfono</p>
        <input type="tel" name="newPhone" placeholder={{user.phone}} (keyup.enter)="updateUser()"
            (focus)="phoneOnFocus()" (blur)="validatePhone()" [(ngModel)]="newPhone"
            [class.error]="errorInNewPhone==true" />
        <p class="errors" *ngIf="errorInNewPhone==true">{{ phoneErrorMesagge }}</p>
    </div>

    <div class="inputs">
        <p>Pagina web</p>
        <input type="text" name="newWeb" placeholder={{user.web}} (keyup.enter)="updateUser()"
               [(ngModel)]="newWeb" />
    </div>

    <div class="inputs">
        <p>Usuario de GitHub</p>
        <input type="text" name="newGitHubLogin" placeholder={{user.gitHubLogin}} (keyup.enter)="updateUser()"
               [(ngModel)]="newGitHubLogin" />
    </div>
    
    <div class="inputs">
        <p>Elige una foto de perfil:</p>
        <input type="file" accept="image/*" (change)="onImageSelected($event)"/>
    </div>
    
    <div class="checkboxes">
        <p>Cursos</p>
        <div *ngFor="let course of courses">
            <input type="checkbox" [value]="course.id" [checked]=isChecked(course.id)
                (change)="onCheckboxChange($event)">
            <label>{{course.name}}</label><br>
        </div>
    </div>

    <div *ngIf="userUpdated==true">
        <span>Usuario actualizado con éxito</span>
    </div> 

    <button mat-raised-button color="primary" id="updateButton" type='submit' (click)='openDialogEditOn()'>Actualizar</button>
</form>

<form *ngIf="isEdit==false">
    <div class="inputs">
        <p>Nombre</p>
        <input type="text" name="newName" (keyup.enter)="updateUser()" (focus)="nameOnFocus()"
            (blur)="validateName()" [(ngModel)]="newName" [class.error]="errorInNewName==true" />
        <p class="errors" *ngIf="errorInNewName==true">{{ nameErrorMesagge }}</p>
    </div>

    <div class="inputs">
        <p>Apellidos</p>
        <input type="text" name="newSurname" (keyup.enter)="updateUser()"
            (focus)="surnameOnFocus()" (blur)="validateSurname()" [(ngModel)]="newSurname"
            [class.error]="errorInNewSurname==true" />
        <p class="errors" *ngIf="errorInNewSurname==true">{{ surnameErrorMesagge }}</p>
    </div>

    <div class="inputs">
        <p>Correo electrónico</p>
        <input type="email" name="newEmail" (keyup.enter)="updateUser()"
            (focus)="emailOnFocus()" (blur)="validateEmail()" [(ngModel)]="newEmail"
            [class.error]="errorInNewEmail==true" />
        <p class="errors" *ngIf="errorInNewEmail==true">{{ emailErrorMesagge }}</p>
    </div>

    <div class="inputs">
        <p>Teléfono</p>
        <input type="tel" name="newPhone" (keyup.enter)="updateUser()"
            (focus)="phoneOnFocus()" (blur)="validatePhone()" [(ngModel)]="newPhone"
            [class.error]="errorInNewPhone==true" />
        <p class="errors" *ngIf="errorInNewPhone==true">{{ phoneErrorMesagge }}</p>
    </div>

    <div class="inputs">
        <p>Pagina web</p>
        <input type="text" name="newWeb" placeholder={{user.web}} (keyup.enter)="updateUser()"
               [(ngModel)]="newWeb" />
    </div>

    <div class="inputs">
        <p>Usuario de GitHub</p>
        <input type="text" name="newGitHubLogin" (keyup.enter)="updateUser()" [(ngModel)]="newGitHubLogin"/>
    </div>

    <div class="inputs">
        <p>Elige una foto de perfil:</p>
        <input type="file" accept="image/*" (change)="onImageSelected($event)"/>
    </div>

    <div class="checkboxes">
        <p>Cursos</p>
        <div *ngFor="let course of courses">
            <input type="checkbox" [value]="course.id" (change)="onCheckboxChange($event)">
            <label>{{course.name}}</label><br>
        </div>
    </div>

    <div *ngIf="userAdded==true">
        <span>Usuario añadido correctamente</span>
    </div> 

    <button mat-raised-button class="form-button" color="primary" id="addButton" type='submit' (click)='openDialogNewUser()'>Añadir</button>
</form>


